.vs/
bin/
API Gateway/obj
App.API\obj\Debug
App.Domain\obj\Debug
App.Infrastructure\obj\Debug
App.Services\obj\Debug
App.Web\obj\Debug
/App.Web/obj/Debug/App.Web.esproj.FileListAbsolute.txt
/App.Services/obj/Debug/net8.0/ref/App.BL.dll
/App.Services/obj/Debug/net8.0/refint/App.BL.dll
/App.Services/obj/Debug/net8.0/App.BL.AssemblyInfo.cs
/App.Services/obj/Debug/net8.0/App.BL.AssemblyInfoInputs.cache
/App.Services/obj/Debug/net8.0/App.BL.csproj.AssemblyReference.cache
/App.Services/obj/Debug/net8.0/App.BL.csproj.CoreCompileInputs.cache
/App.Services/obj/Debug/net8.0/App.BL.csproj.FileListAbsolute.txt
/App.Services/obj/Debug/net8.0/App.BL.dll
/App.Services/obj/Debug/net8.0/App.BL.pdb
/App.Services/obj/Debug/net8.0/App.BL.sourcelink.json
/App.Infrastructure/obj/Debug/net8.0/App.Infrastructure.AssemblyInfo.cs
/App.Infrastructure/obj/Debug/net8.0/App.Infrastructure.AssemblyInfoInputs.cache
/App.Infrastructure/obj/Debug/net8.0/App.Infrastructure.csproj.AssemblyReference.cache
/App.Infrastructure/obj/Debug/net8.0/App.Infrastructure.csproj.CoreCompileInputs.cache
/App.Infrastructure/obj/Debug/net8.0/App.Infrastructure.csproj.FileListAbsolute.txt
/App.Infrastructure/obj/Debug/net8.0/App.Infrastructure.dll
/App.Infrastructure/obj/Debug/net8.0/App.Infrastructure.pdb
/App.Infrastructure/obj/Debug/net8.0/App.Infrastructure.sourcelink.json
/App.Infrastructure/obj/Debug/net8.0/refint/App.Infrastructure.dll
/App.Infrastructure/obj/Debug/net8.0/ref/App.Infrastructure.dll
/App.Domain/obj/Debug/net8.0/App.Core.AssemblyInfo.cs
/App.Domain/obj/Debug/net8.0/App.Core.AssemblyInfoInputs.cache
/App.Domain/obj/Debug/net8.0/App.Core.csproj.FileListAbsolute.txt
/App.Domain/obj/Debug/net8.0/App.Core.dll
/App.Domain/obj/Debug/net8.0/App.Core.pdb
/App.Domain/obj/Debug/net8.0/App.Core.sourcelink.json
/App.Domain/obj/Debug/net8.0/refint/App.Core.dll
/App.Domain/obj/Debug/net8.0/ref/App.Core.dll
/App.API/obj/Debug/net8.0/App.API.AssemblyInfo.cs
/App.API/obj/Debug/net8.0/App.API.AssemblyInfoInputs.cache
/App.API/obj/Debug/net8.0/App.API.csproj.AssemblyReference.cache
/App.API/obj/Debug/net8.0/App.API.csproj.CoreCompileInputs.cache
/App.API/obj/Debug/net8.0/App.API.csproj.FileListAbsolute.txt
/App.API/obj/Debug/net8.0/App.API.dll
/App.API/obj/Debug/net8.0/App.API.genruntimeconfig.cache
/App.API/obj/Debug/net8.0/App.API.pdb
/App.API/obj/Debug/net8.0/App.API.sourcelink.json
/App.API/obj/Debug/net8.0/apphost.exe
/App.API/obj/Debug/net8.0/refint/App.API.dll
/App.API/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/App.API/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/App.API/obj/Debug/net8.0/ref/App.API.dll
/App.API/obj/App.API.csproj.nuget.dgspec.json
/App.API/obj/Debug/net8.0/App.API.assets.cache
/App.API/obj/project.assets.json
/App.API/obj/project.nuget.cache
/App.Infrastructure/obj/App.Infrastructure.csproj.nuget.dgspec.json
/App.Infrastructure/obj/Debug/net8.0/App.Infrastructure.assets.cache
/App.Infrastructure/obj/project.assets.json
/App.Infrastructure/obj/project.nuget.cache
/App.Domain/obj/Debug/net8.0/App.Core.csproj.CoreCompileInputs.cache
/API Gateway/obj/Debug/net8.0/API Gateway.AssemblyInfo.cs
/API Gateway/obj/Debug/net8.0/API Gateway.AssemblyInfoInputs.cache
/API Gateway/obj/Debug/net8.0/API Gateway.csproj.FileListAbsolute.txt
/API Gateway/obj/Debug/net8.0/API Gateway.dll
/API Gateway/obj/Debug/net8.0/API Gateway.pdb
/API Gateway/obj/Debug/net8.0/apphost.exe
/API Gateway/obj/Debug/net8.0/refint/API Gateway.dll
/API Gateway/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/API Gateway/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/API Gateway/obj/Debug/net8.0/ref/API Gateway.dll
